body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #333;
    font-family: 'Verdana', sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.profile-info h2 {
    margin: 0;
}

.profile-info p {
    margin: 5px 0;
    font-size: 1.2em;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.section .item {
    margin-bottom: 15px;
}

.section .item h3 {
    margin: 0;
}

.section .item p {
    margin: 5px 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    background: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: inline-block;
}

.contact-info {
    text-align: center;
}

.contact-info a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin: 0 10px;
}

.contact-info a:hover {
    color: #007BFF;
}

@media (max-width: 768px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        margin: 0 auto 20px;
    }
}
.idiomas {
    margin-bottom: 20px;
}

.idiomas h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.idiomas ul {
    list-style-type: none;
    padding: 0;
}

.idiomas ul li {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
